<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>症狀篩選</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='triangle-exclamation-solid.svg') }}">
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>


</head>

<body>
  <div class="alert">⚠️ 如有心口痛或嚴重呼吸困難情況，請立即致電 999：<br>⚠️ call 999 or go to A&E in an emergency：</br></div>
  <h1 class="title">📌 請選擇您的症狀 Please Select Your Current Symptoms </h1>

  <div class="search-bar-container">
    <input type="text" id="searchInput" placeholder="搜尋症狀...Find Your Symptoms..." />
    <button id="clearSearchBtn" class="clear-btn">清除 Clear</button>
  </div>

  <!-- Subcategories -->
  <div class="sub-category-container">
      <!-- Subcategory Popup Container -->
      <div id="symptomPopupOverlay" class="popup-overlay" style="display: none;">
        <div id="symptomPopup" class="popup-box">
          <span id="closeSymptomPopup" class="popup-close">&times;</span>
          <div id="popupSymptomList"></div>
        </div>
      </div>
  </div>

      <!-- Age -->
       <div class="age-input-wrapper">
          <label for="ageInput">年齡 Age:</label>
          <div class="age-controls">
            <input type="range" id="ageInput" min="0" max="100" value="30" oninput="syncAgeInputs(this.value)">
            <input type="number" id="ageNumberInput" min="0" max="100" value="30" oninput="syncAgeInputs(this.value)">
          </div>
      </div>
      <!-- Selected Symptoms -->
      <div class="selected-symptoms">
        <h3>🧾 已選擇的症狀 Selected Symptoms：</h3>
        <div id="selectedSymptoms"></div>
      
        <div class="submit-selected-container">
          <button id="submitSelected" class="submit-btn">提交所選症狀 Submit</button>
          <button id="clearSelected" class="clear-btn">清除所有所選症狀 Clear </button>
        </div>
      </div>

    
    <!-- Categories -->
    <div class="category-grid" id="categoryGrid">
      <!-- Dynamically insert category blocks here -->
    </div>

    <div class="alert">⚠️ 如有心口痛或嚴重呼吸困難情況，請立即致電 999：<br>⚠️ call 999 or go to A&E in an emergency：</br></div>
  
<!-- Result Modal -->
<div id="resultModalOverlay" class="modal-overlay" style="display: none;">
  <div id="resultModalBox" class="modal-box">
    <span id="closeModal" class="close">&times;</span>
    <p id="resultText"></p>
  </div>
</div>


<!-- Follow-Up Modal -->
<div id="followupModal" class="modal-overlay" style="display: none;">
  <div id="followupBox" class="modal-box">
    <span id="closeFollowupModal" class="close">&times;</span>
    <h3 id="followupQuestionText"></h3>
    <div id="followupOptions"></div>
    <button id="submitFollowup">確認 Confirm</button>
  </div>
</div>


</body>
</html>
